table{
   width: 100%;
   border-collapse: collapse ;
   margin: 20px  0;
   font-size: 18px;
   text-align: left;
}

th,td {
    border: 1px solid #d3a5a5 ;
    padding: 8px;
}

 th {
    background-color: rgb(177, 144, 103);
    font-weight: bold;
}

tr:hover{
    background-color: rgb(155, 215, 215);
}